/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #fbf1c7 !important;
  height: 100vh;
  /* background: linear-gradient(
   *   200.96deg,
   *   #504945 -29.09%,
   *   #3c3836 51.77%,
   *   #1d2021 129.35%
   * ); */
  background-color: #1d202170 !important;
  font-family: sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
}

.editor {
  height: 100vh !important;
}

.viewer {
  height: 100vh !important;
  max-width: 50vw;
  background: #1d202170;
  border: 1px solid #28282870;
  overflow-y: auto;
}

.Footer {
  background: #1d2021e0;
}
